<div>
  <p>This works :D</p>
  <form action="/Notebook/updateNote" method="post">
    <textarea name="urldata" type="text"> <%- text %> </textarea>
    <textarea name="urlname" type="text"> <%- name %> </textarea>
    <input type="submit" value="Submit">
  </form>
</div>
